DB_PASSWORD=change_me
JWT_SECRET=change_me_jwt
PASSWORD_SALT=your_fixed_salt_here
ADMIN_PASSWORD=admin123
INTERNAL_SERVICE_KEY=internal-service-secret
AI_SERVICE_TIMEOUT=30000
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
